<div class="px-3 md:px-6 lg:px-12 max-w-3xl py-14">
    <p class="mt-2 text-md font-semibold tracking-tight text-gray-100 sm:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste porro ad, maxime saepe odit sint.
    </p>
    <div class="h-px bg-[#444] my-8"></div>
    <div class="flex items-center gap-3">
        <small class="text-gray-400">
            &copy; 2023, Artelligence, All rights reserved
        </small>

        <a href="#" class="ml-auto text-gray-200 text-lg">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="#" class="text-gray-200 text-lg">
            <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="#" class="text-gray-200 text-lg">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </a>
        <a href="#" class="text-gray-200 text-lg">
            <ion-icon name="mail-sharp"></ion-icon>
        </a>
    </div>
</div>