{% load static %}
<header class="fixed inset-x-0 top-0 z-50 bg-gradient-to-r from-[#FFFFFF] from-60% to-[#FFFFFF50] backdrop-blur-md">
    <nav class="flex items-center justify-between px-6 lg:px-8" aria-label="Global">
        <div class="flex items-center gap-4">
            <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
                <img class="h-[80px] md:h-[100px] w-auto rounded-md" src="{% static 'assets/logo.jpg' %}" alt="">
            </a>
        </div>
        <div class="hidden md:flex items-center gap-6 ml-6 md:ml-12 mr-auto">
            {% for category in categories %}
            <a href="{% url 'designs' %}?c={{category.name}}&c_key={{category.id}}&sub="
                class="text-sm font-medium leading-6 text-gray-100 def-nav-links relative grid place-items-center">
                {{category.name}}
            </a>
            {% endfor %}
        </div>
        <button class="nav-tgl bg-transparent rounded-md border-none outline-none text-2xl">
            <ion-icon name="menu-sharp"></ion-icon>
        </button>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="md:hidden navbar-nav" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="w-full h-[90vh] overflow-y-auto">
            <ul class="pt-4 pb-8 px-6 flex flex-col gap-3">
                <li class="py-3">
                    <h3 class="text-2xl sm:text-4xl font-bold text-gray-50">Categories</h3>
                </li>
                {% for category in categories %}
                <li class="py-3 px-3">
                    <a href="{% url 'designs' %}?c={{category.name}}&c_key={{category.id}}&sub="
                        class="text-lg font-medium leading-6 text-gray-100 relative flex gap-3 w-fit">
                        <span class="underline">
                            {{category.name}}
                        </span>
                        <span>&rarr;</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>


<style>
    .navbar-nav {
        display: none;
    }

    .def-nav-links {
        color: #333333 !important;
    }

    .def-nav-links::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 3px;
        background: #C0C0C0;
        border-radius: 9999px;
        position: absolute;
        bottom: -1px;
    }
</style>

<script>
    $('.nav-tgl').click(() => {
        $('.navbar-nav').fadeToggle(100)
    })

    var links = document.querySelectorAll('a')
    for (var i = 0; i < links.length; i++) {
        if (window.location.pathname == $(links[i]).attr('href'))
            $(links[i]).removeClass('text-gray-200').addClass('text-[var(--gold)]')
    }
</script>